.social,
.fab {
	justify-content: space-evenly;
	padding: .5rem;
	flex-wrap: wrap;
}

.body {
	height: 100vh;
}

.submit {
	padding-top: 20px;
}

.edit-profile {
	padding-top: 2rem;
}

.social-inputs input {
	text-align: center;
}

.profile-button {
	margin: 0.25rem;
}

a,
i.fa-2x {
	font-size: 1.1rem;
}
